

$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  // margin: auto;
  width:100%;
  margin: 10;
  height: 100px;
  justify-content: center;
  text-align: center;
  float: right;

  label {
    display: flex;
    margin: 1rem 0;
    // width: 30%;
    justify-content: center;
    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: rgb(192, 90, 170);
color: black;
        &:hover, &.active {
          background: #fff;
        }
      }
    }
  }
}


textarea{
  width: 30%;
  height: 90px;
  justify-content: center;
  margin-left: 500px;
  margin-top: 10px;
  font-family: cursive;
  // background-color: aqua;
}
input{
  font-family: cursive;
  font-size: 15px;
  width: 30%;
}