// $backgroundColor: #efefef;
// $radius: 40%;

// form {
//   display: inline-block;
//   margin: auto;
//   width: 200px;
//   margin-bottom: 100em;
  
//   label {
//     display: flex;
//     margin: 1rem 0;

//     &.methods {
//       span {
       
//         cursor: pointer;
//         margin-right: 1rem;
//         padding: .25rem .5rem;
//         background: rgb(154, 50, 132);

//         &:hover, &.active {
//           background: #fff;
//         }
//       }
//     }
//   }
 
//   button{
//     background: rgb(154, 50, 132);
//   }
// }
// textarea{
//   height: 100px;
//   width: 250px;
//   margin-top: 2px;
//     margin-right: 20px;
//     margin-bottom: 7000px;
//     margin-left: 0px;
//     // margin: auto;
//     // position: fixed;
// }


$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  // margin: auto;
  width:100%;
  margin: 10;
  height: 100px;
  justify-content: center;
  text-align: center;
  float: right;

  label {
    display: flex;
    margin: 1rem 0;
    // width: 30%;
    justify-content: center;
    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: rgb(192, 90, 170);
color: black;
        &:hover, &.active {
          background: #fff;
        }
      }
    }
  }
}


textarea{
  width: 30%;
  height: 90px;
  justify-content: center;
  margin-left: 500px;
  margin-top: 0px;
  // background-color: aqua;
}
input{
  width: 30%;
}