// pre {
//     display: solid;
//     font-family: monospace;
//     white-space: pre;
//     margin: 10em 10px;
//     margin-top: 10em;
//     margin-right: 10px;
//     margin-bottom: 10em;
//     margin-left: 10px;
//     // border-style: solid;
//     border:thin;
//     border-left-color:red;
//     border-bottom-color: red;
// }
section{
    border: 2px solid rgb(154, 50, 132);
    background-color: white;
    height: 270px;
}
pre{
    text-align: justify;
    // position: fixed;
}