
// import 'react-json-pretty/themes/monikai.css';
// pre {
//     display: solid;
//     font-family: monospace;
//     white-space: pre;
//     margin: 10em 10px;
//     margin-top: 10em;
//     margin-right: 10px;
//     margin-bottom: 10em;
//     margin-left: 10px;
//     // border-style: solid;
//     border:thin;
//     border-left-color:red;
//     border-bottom-color: red;
// }
section{
    
    // background-color: white;
    // border: 2px solid rgb(154, 50, 132);
    height: 270px;
    text-align: justify;
}
#json-pretty{
    value: {color: red;}
    height: auto;
    height: max-content;
    border: 2px solid rgb(154, 50, 132);
    text-align: justify;
    margin-bottom: 100px;
    // font-size: 10px;
    // position: fixed;
}

  .__json-key__
  {color: rgb(70, 8, 145);}
    

  .__json-value__
  {
    color: rgba(253,176,130,1);
  }
    

  .__json-string__{
    color :rgb(77, 159, 14);}

  .__json-boolean__{
    color: rgba(102,153,204,1);}

.__json-pretty-error__
{
  line-height: 1.3px;
  color: rgba(248,248,242,1);
  background :#1e1e1e;
  overflow: auto;
  }